@use "app/variables.module.scss";

.menu {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
  background: variables.$primary-dark-color;
  border-top: 1px solid variables.$secondary-color;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 900;
}

.menu.visible {
  transform: translateY(0);
}

.link {
  color: variables.$secondary-color;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
