@use "app/variables.module.scss";

.container {
  @include variables.component-margin;

  h1 {
    @include variables.desktop {
      margin: variables.$l-margin 0;
      font-weight: 200;
    }
  }

  h2 {
    @include variables.desktop {
      margin: variables.$xl-margin 0 variables.$base-margin 0;
    }
  }

  p {
    font-weight: 500;
    text-align: center;

    @include variables.desktop {
      font-size: 1.5rem;
    }
  }

  ul {
    li {
      list-style: none;

      a {
        color: variables.$text-color;
        text-decoration: none;

        &:hover {
          color: variables.$secondary-color;
        }
      }
    }
  }

  a {
    @include variables.text-link;
  }

  .sommaire-content {
    margin-bottom: 8rem;
  }

  .titre {
    margin: 2.5rem 0;
    font-size: 1.5rem;
    font-weight: 400;

    @include variables.desktop {
      font-size: 1.5rem;
    }
  }

  .titre-container {
    margin: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }

  .chapitre {
    font-weight: 200;
    font-size: 1rem;

    @include variables.desktop {
      font-size: 1.25rem;
    }
  }

  .chapitre-titre {
    padding-top: 0.3rem;
    padding-bottom: 4px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    border-bottom: 1px solid variables.$secondary-color;

    @include variables.desktop {
      font-size: 1.6rem;
    }
  }

  @include variables.tablet {
    margin-top: variables.$xl-margin;
  }

  @include variables.desktop {
    padding-top: variables.$l-margin;
    margin: 0 auto;
    width: 42rem;
    max-width: variables.$inner-width;
  }
}
