@use "app/variables.module.scss";

.slider {
  background-color: variables.$primary-medium-color;
  border: 1px solid variables.$primary-light-color;
  border-radius: variables.$border-radius;
  padding: 30px 50px 45px 50px;
}

:global(
  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging
) {
  border-color: rgb(153, 131, 100) !important;
  box-shadow: 0 0 5px rgba(64, 66, 67, 0.5) !important;
}

:global(.rc-slider-handle:focus-visible) {
  border-color: rgb(153, 131, 100) !important;
  box-shadow: 0 0 5px rgba(64, 66, 67, 0.5) !important;
}

:global(.rc-slider-handle:active) {
  border-color: rgb(153, 131, 100) !important;
  box-shadow: 0 0 5px rgba(64, 66, 67, 0.5) !important;
}

:global(.rc-slider-dot) {
  display: none !important;
}

:global(.rc-slider-dot-active) {
  display: none !important;
}
