@use "app/variables.module.scss";

.ring {
  --progress: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    variables.$secondary-color calc(var(--progress) * 1%),
    rgba(variables.$primary-light-color, 0) 0
  );

  @include variables.tablet {
    width: 40px;
    height: 40px;
  }

  @include variables.desktop {
    width: 40px;
    height: 40px;
  }
}

.checkmark {
  font-weight: 400;
  font-size: 0.9rem;
}

.inner {
  position: absolute;
  inset: 2px;
  border-radius: 50%;
  background: variables.$primary-dark-color;
  border: 1px solid variables.$secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$secondary-color;
  font-size: 1.8rem;
  font-family: inherit;

  @include variables.tablet {
    font-size: 2rem;
  }

  @include variables.desktop {
    font-size: 2rem;
  }
}
