@use "app/variables.module.scss";

.ring {
  --progress: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: conic-gradient(
    from -90deg,
    variables.$primary-light-color calc(var(--progress) * 1%),
    rgba(variables.$primary-light-color, 0.2) 0
  );

  @include variables.tablet {
    width: 56px;
    height: 56px;
  }

  @include variables.desktop {
    width: 68px;
    height: 68px;
  }
}

.inner {
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  background: variables.$primary-dark-color;
  border: 1px solid variables.$secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$secondary-color;
  font-size: 14px;
  font-family: inherit;
}
