@use "app/variables.module.scss";

.ring {
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 44px;
  height: 44px;

  @include variables.tablet {
    width: 56px;
    height: 56px;
  }

  @include variables.desktop {
    width: 68px;
    height: 68px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.track {
  fill: none;
  stroke: variables.$primary-light-color;
  stroke-width: 2;
  opacity: 0.2;
}

.progress {
  fill: none;
  stroke: variables.$primary-light-color;
  stroke-width: 2.5;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
}

.inner {
  fill: variables.$primary-dark-color;
  stroke: variables.$secondary-color;
  stroke-width: 1;
}

.icon {
  fill: variables.$secondary-color;
  font-size: 14px;
  font-family: inherit;
}
