@use "app/variables.module.scss";

.homepage-container {
  margin: 0 auto;

  @include variables.desktop {
    > :not(:global(#history)):not(:global(#hero)) {
      margin-left: auto;
      margin-right: auto;
      width: variables.$inner-width;
    }
  }
}
